.wrapper {
    width: 60%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

.test {
    border-radius: 10px;
    width: 100%;
    border-top: 10px solid #673AB7;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.testItem {
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid red;
    width: 90%;
    min-height: 50px;
    margin: 50px;
    padding: 20px;
}

.answer {
    display: block;
    margin: 0 auto;
}

.btn {
    display: flex;
    width: 450px;
    justify-content: space-around;
    margin-bottom: 20px;
}