.wrapper {
    display: flex;
    justify-content: center;
    margin: 150px auto;
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}